<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardDAO-mapper">

<!-- 게시판 카테고리 조회  -->
<select id="selectBcategory" resultType="com.my.maintest.board.vo.BcategoryVO">
select catnum, catname, btype from bcategory
</select>
<!-- 게시판 말머리 조회  -->
<select id="selectHeadIdCategory" parameterType="long" resultType="com.my.maintest.board.vo.HeadIdCategoryVO">

select t1.hidnum, t1.catnum, t1.hidname
from headid t1, bcategory t2
where t1.catnum = t2.catnum and
 t1.catnum = #{catnum} 


</select>


<!-- 	// 전체글 조회 (default) -->
<select id="selectArticles0" resultType="com.my.maintest.board.vo.BoardVO">

select
dbrownum,
bnum, 
catname   as "bcategory.catname" ,
catnum as "bcategory.catnum",
hidname as "hidcategory.hidname",
hidnum as  "hidcategory.hidnum", 
nickname  as "bnickname", 
btitle,
bcontent, 
bHits,
bcdate,
budate,
bgroup,
bstep,
bIndent
from (select row_number() over(order by bgroup desc, bstep asc) as dbrownum, 
t1.bnum, 
t2.catname,
t2.catnum,
 t4.hidname, 
 t4.hidnum,
 t3.nickname, 
 t1.ucode,
 t1.bhits,
 t1.btitle, 
 t1.bcontent, 
t1.bcdate,
t1.budate,
t1.bgroup,
t1.bstep,
t1.bIndent
from board t1, bcategory t2, member t3, headid t4
where t1.bcategory = t2.catnum and t1.ucode = t3.ucode and t1.hidcategory = t4.hidnum) 
order by dbrownum asc

</select>


<!-- 	// 전체글 조회 (페이징) -->
<select id="selectArticles" parameterType="map" resultType="com.my.maintest.board.vo.BoardVO">

select
dbrownum,
bnum, 
catname   as "bcategory.catname" ,
catnum as "bcategory.catnum",
hidname as "hidcategory.hidname",
hidnum as  "hidcategory.hidnum", 
nickname  as "bnickname", 
btitle,
bcontent, 
bHits,
bcdate,
budate,
bgroup,
bstep,
bIndent
from (select row_number() over(order by bgroup desc, bstep asc) as dbrownum, 
t1.bnum, 
t2.catname,
t2.catnum,
 t4.hidname, 
 t4.hidnum,
 t3.nickname, 
 t1.ucode,
 t1.bhits,
 t1.btitle, 
 t1.bcontent, 
t1.bcdate,
t1.budate,
t1.bgroup,
t1.bstep,
t1.bIndent
from board t1, bcategory t2, member t3, headid t4
where t1.bcategory = t2.catnum and t1.ucode = t3.ucode and t1.hidcategory = t4.hidnum) 
where dbrownum between #{recFrom} and #{recTo}
order by dbrownum asc

</select>

<!-- 	// 전체글 조회 (페이징 + 검색어) -->
<select id="selectArticlesWithKey" parameterType="map" resultType="com.my.maintest.board.vo.BoardVO">

select
dbrownum,
bnum, 
catname   as "bcategory.catname" ,
catnum as "bcategory.catnum",
hidname as "hidcategory.hidname",
hidnum as  "hidcategory.hidnum", 
nickname  as "bnickname", 
btitle,
bcontent, 
bHits,
bcdate,
budate,
bgroup,
bstep,
bIndent
from (select row_number() over(order by bgroup desc, bstep asc) as dbrownum, 
t1.bnum, 
t2.catname,
t2.catnum,
 t4.hidname, 
 t4.hidnum,
 t3.nickname, 
 t1.ucode,
 t1.bhits,
 t1.btitle, 
 t1.bcontent, 
t1.bcdate,
t1.budate,
t1.bgroup,
t1.bstep,
t1.bIndent
from board t1, bcategory t2, member t3, headid t4
where t1.bcategory = t2.catnum and t1.ucode = t3.ucode and t1.hidcategory = t4.hidnum

<if test="searchType != null">
and 


<choose>
<!--전체  -->
<when test="searchType == 'A'.toString() ">
(btitle  like '%'||#{searchKeyword}||'%' or
bcontent like '%'||#{searchKeyword}||'%' or
nickname like '%'||#{searchKeyword}||'%')
</when>

<!--제목+ 내용  -->
<when test="searchType == 'TC'.toString() ">
(btitle  like '%'||#{searchKeyword}||'%' or
bcontent like '%'||#{searchKeyword}||'%')
</when>


<!--제목  -->
<when test="searchType == 'T'.toString() ">
btitle  like '%'||#{searchKeyword}||'%'
</when>

<!--내용  -->
<when test="searchType == 'C'.toString() ">
bcontent like '%'||#{searchKeyword}||'%'
</when>

<!--작성자  -->
<when test="searchType == 'N'.toString() ">
nickname like '%'||#{searchKeyword}||'%'
</when>
</choose>
</if>
) 
where dbrownum between #{recFrom} and #{recTo}
order by dbrownum asc

</select>



<!-- 게시글 등록-->

<insert id="insertArticle"  parameterType="com.my.maintest.board.vo.BoardVO">
insert into board(
bnum, 
bcategory,
hidcategory,
ucode, 
btitle, 
bcontent,
bgroup
)
values(
bnum_seq.nextVal,
#{bcategory.catnum}, 
#{hidcategory.hidnum},
#{ucode},
#{btitle},
#{bcontent},
bnum_seq.nextVal
)

<selectKey keyProperty="bnum" resultType="long" order="AFTER">
select bnum_seq.currVal from dual
</selectKey>
</insert>

<!-- 첨부파일 등록 -->
<insert id="insertFiles" parameterType="com.my.maintest.board.vo.BoardFileVO">
insert into board_upload_file(
fid,
bnum,
fname,
fsize,
ftype,
fdata,
cdate, 
udate)
values(
UPLOAD_FILE_FID_SEQ.nextVal,
#{bnum},
#{fname},
#{fsize},
#{ftype},
#{fdata},
systimestamp,
systimestamp)


</insert>


<!--이전답글의 bstep +1 처리  : 답글 등록보다 선행되어야 함.-->
<update id="updateBstep" parameterType="map">
update board set bstep = bstep +1 
where bgroup = #{bgroup} and bstep > #{bstep}
</update>

<!-- 답글 등록 -->
<insert id="insertRepliedArticle" parameterType="com.my.maintest.board.vo.BoardVO">
insert into board(
bnum, 
bcategory,
hidcategory,
ucode, 
btitle, 
bcontent,
bgroup,
bstep,
bindent
)
values(
bnum_seq.nextVal,
#{bcategory.catnum},
#{hidcategory.hidnum},
#{ucode},
#{btitle},
#{bcontent},
#{bgroup},
#{bstep}+1,
#{bindent}+1
)
</insert>




<!-- 	// 글 열람	 -->
<select id="selectArticle" parameterType="long" resultType="com.my.maintest.board.vo.BoardVO">

select t1.bnum, 
 t2.catname   as "bcategory.catname",
 t2.catnum as "bcategory.catnum",
 t4.hidname as "hidcategory.hidname", 
 t4.hidnum as  "hidcategory.hidnum",
 t3.nickname as bnickname, 
 t1.ucode,
 t1.bhits,
 t1.btitle, 
 t1.bcontent, 
t1.bcdate,
t1.budate,
t1.bgroup,
t1.bstep,
t1.bIndent
from board t1, bcategory t2, member t3, headid t4
where t1.bcategory = t2.catnum and t1.ucode = t3.ucode and t1.hidcategory = t4.hidnum and
bnum = #{bnum}

</select>


<!--첨부파일 조회-->
<select id="selectFiles" parameterType="long" resultType="com.my.maintest.board.vo.BoardFileVO">

select 
fid,
bnum,
fname,
fsize,
ftype,
fdata,
cdate, 
udate
from board_upload_file
where bnum = #{bnum}
</select>



<!-- 조회수 갱신-->
<update id="updateBhits" parameterType="long">
update board set bhits = bhits+1 where bnum = #{bnum}

</update>



	<!-- //게시글 수정 -->
	<update id="updateArticle" parameterType="com.my.maintest.board.vo.BoardVO">
	
	update board set
		 bnum = #{bnum},
	 	 bcategory= #{bcategory.catnum}, 
	 	 hidcategory= #{hidcategory.hidnum}, 
	 	 ucode = (select ucode from member where nickname = #{bnickname}),
	   btitle= #{btitle},
	   bcontent= #{bcontent},
	   budate=systimestamp
	   where bnum = #{bnum}
	
	</update>
	
	
	<!--  첨부파일 일부 삭제  -->
	<delete id="deleteFile" parameterType="long">
	
	delete from board_upload_file where fid = #{fid}
	
	</delete>
	
	
	<!-- 첨부파일 다운로드 -->
	
	<select id="selectFileToDwLoad"  parameterType="long" resultType="com.my.maintest.board.vo.BoardFileVO" >
	
select fid, bnum, fname, fsize , ftype, fdata, cdate, udate from board_upload_file where fid = #{fid}
	
	</select>
	
<!-- 	//글 삭제 -->	
<delete id="deleteArticle" parameterType="long" >
delete from board 
where bnum = #{bnum}
</delete>

<!-- 페이징  -->
<!-- 레코드 총수량 구하기  -->
<select id="selectRecQnty"  parameterType="map"  resultType="int">
select count(*) 

from  

(select row_number() over(order by bgroup desc, bstep asc) as dbrownum, 
t1.bnum, 
t2.catname,
t2.catnum,
 t4.hidname, 
 t4.hidnum,
 t3.nickname, 
 t1.ucode,
 t1.bhits,
 t1.btitle, 
 t1.bcontent, 
t1.bcdate,
t1.budate,
t1.bgroup,
t1.bstep,
t1.bIndent
from board t1, bcategory t2, member t3, headid t4
where t1.bcategory = t2.catnum and t1.ucode = t3.ucode and t1.hidcategory = t4.hidnum  
<if test="searchType != null">
and  

<choose>
<!--전체  -->
<when test="searchType == 'A'.toString() ">
(t1.btitle  like '%'||#{searchKeyword}||'%' or
t1.bcontent like '%'||#{searchKeyword}||'%' or
t3.nickname like '%'||#{searchKeyword}||'%')
</when>

<!--제목+ 내용  -->
<when test="searchType == 'TC'.toString() ">
(t1.btitle  like '%'||#{searchKeyword}||'%' or
t1.bcontent like '%'||#{searchKeyword}||'%')
</when>


<!--제목  -->
<when test="searchType == 'T'.toString() ">
t1.btitle  like '%'||#{searchKeyword}||'%' 
</when>

<!--내용  -->
<when test="searchType == 'C'.toString() ">
t1.bcontent like '%'||#{searchKeyword}||'%' 
</when>

<!--작성자  -->
<when test="searchType == 'N'.toString() ">
t3.nickname like '%'||#{searchKeyword}||'%'
</when>
</choose>
</if>
)
</select>

	<!-- //글 검색	 -->
	  <!-- //말머리	 -->
	  <!-- //제목 -->
<!-- //댓글 작성 -->
	<!-- //댓글 수정 -->
	<!-- //댓글 삭제 	 -->
	<!-- //답글 작성 -->
	<!-- //답글 수정 -->
	<!-- //답글 삭제  -->
	








</mapper>