@charset "UTF-8";

main {
	max-width: 800px;
	min-width: 350px;
	text-align: center;
	margin: auto;
}

.category {
	font-weight: bold;
}

.item {
	display: flex;
	align-items: flex-end;
	align-content: center;
	justify-content: left;
	padding-left: 30px;
	margin-bottom: 10px;
	width: 300px
}

.item .ckeck {
	width: 30px;
	border-bottom: 1px solid darkgray;

}

.item .i_name {
	text-align: left;
	width: 200px;
	border-bottom: 1px solid darkgray;
}

.item .icount {
	width: 30px;
	border-bottom: 1px solid darkgray;
}

.del {
	text-decoration: line-through;
	text-decoration-color: red;
	text-decoration-style: solid;
}

.block {
	text-align: left;
	margin-bottom: 30px;
	width: 350px;
}

.title {
	margin-bottom: 40PX;
}

.frame {
	width: 350px;
	margin: 0 auto;
}

@media ( min-width : 700px) {
	.container {
		display: flex;
		width: 700px;
		height: auto;
		margin: auto;
	}
}

@page {
	size: A4;
	margin: 0;
}

@media print {
	html, body {
		width: 210mm;
		height: 297mm;
	}
	.page {
		margin: 0;
		border: initial;
		width: initial;
		min-height: initial;
		box-shadow: initial;
		background: initial;
		page-break-after: always;
	}
	.action {
		display: none;
	}
	.container {
		display: flex;
		width: 700px;
		height: auto;
		margin: auto;
	}
}