@charset "UTF-8";

.default_list.tab_box_container, .user_list.tab_menu_container {
	overflow-y: scroll;
}

.default_list.tab_box_container>table {
	width: 100%;
	margin-top: 10px;
}

.default_list.tab_box_container>table>thead>tr {
	display: grid;
	grid-template-columns: 1fr 6fr;
	grid-auto-rows: minmax(20px, auto);
}

.default_list.tab_box_container>table>tbody>tr:hover {
	background-color: lightgray;
}

.default_list.tab_box_container>.list_buttons {
	width: inherit;
}

.default_list.tab_box_container>.list_buttons>input[type="button"] {
	all: unset;
}

.default_list> .list_buttons{

   position: absolute;
    bottom: 0;

}

.default_list i,
.user_list i{
	cursor:pointer;
}
.user_list > dt{
	font-size:1.3rem;
	text-align:center;
}
.user_list>.category_grid {
	margin: 0;
	width: 100%;
}

.user_list>.category_grid>dd {
	margin: 10px;
}

.user_list>.category_grid>dd>.tab_menu_btn {
	width: 88%;
}

.category_grid dd>ul>li>div {
	display: flex;
}

.row>div>.icount, .row>div>.edit_number {
	width: 20%;
}

.row>div>div[selected="true"] {
	text-decoration: line-through;
}

.row>div>.iname {
	width: 70%;
	padding-top: 5px;
}

.row>div>.icount {
	margin: 3px;
	border: 1px solid #75ccb9;
}

.tab_menu_container>dd>ul {
	margin: 10px;
	padding: 0px;
}

.row>div {
	display: flex;
	margin: 0 20px 5px 20px;
	border-bottom: 1px solid lightgray;
}

.row>div:nth-child(1) {
	padding-top: 5px;
}